body {
	padding: 0px;
	margin: 0px;
	font-size: 150%;
	color: white;
	background-color: #222;
	tab-size: 2;
}

header {
	padding: 5px;
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: black;
}

h1 {
	margin: 0px;
}

code {
	border: 0.2em solid green;
	border-radius: 2em;
}

main {
	margin-top: 80px;
	height: 100%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

label {
	display: block;
}


#footer-bar {
	padding: 5px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: black;
	padding-left: auto;
}

.hidden {
	display: none;
}
